<footer class="site-footer">
<div class="container">
	<div class="row">

      <div class="col-md-4">
				<h3>Redes sociales</h3>
        <ul class="fa-ul social-media-list">
          {% if site.facebook_username %}
          <li class="fa-li">
						<a href="https://es-la.facebook.com/{{ site.facebook_username }}">
						  <i class="fa fa-facebook"></i>
            </a>
          </li>
          {% endif %}
        </ul>

				<h3>Newsletters</h3>
				<p>Reciba nuestras últimas novedades.</p>
				<p>Email:</p>
      </div>

			<div class="col-md-4">

				<h3>Información de contacto</h3>
				<ul class="fa-ul">
					<li>Undo Prototipos S.L.</li>
					<li>
						<i class="fa fa-map fa-li"></i>
						Pl. Galicia 26, 2ºB - San Sbastián Guipúzcoa
					</li>
					<li>
					<i class="fa fa-phone fa-li"></i>
					Telefono : 652 330 895 / Fax : 902 906 815
					</li>
					<li>
					<i class="fa fa-envelope fa-li"></i>
					<a href="mailto:{{ site.email }}">{{ site.email }}</a>
					</li>
					<li>
					<i class="fa fa-globe fa-li"></i>
					<a href="{{ site.url }}">{{ site.url }}</a>
					</li>
				</ul>
				
			</div>

			<div class="col-md-4">

				<h3>Nuestra ubicación</h3>
				
			</div>

  	</div>
	</div>

</footer>
