body {
	margin-top: 50px;
	font-family: 'Open Sans',Arial,sans-serif;                                            
}

#mainNav {
  overflow: hidden;
  .navbar-brand {
    padding: 0;
  }
  .site-logo {
    max-height: 50px;
  }
}

aside.jumbotron {
	text-align: center;
	margin-bottom: 0;
}

footer.site-footer {
	background-color: #333;
	color: white;
}

article.excerpt {
	h1 {
		height: 3em;
	}
}

/**
 * Flexslider tweaks
 */
.flexslider {
	border: none;
}

.flexslider .slides li {
	position:relative;
}

.flex-caption {
	position:absolute;
	left:0;
	right:0;
	bottom:10%;
	background: rgba(#000,0.2);
	z-index:1;
	padding:5px;
	text-align: center;
	color: white;
}

.flex-direction-nav a {
	height: 50px;
}

/**
 * Fontawesome tweaks
 */
#featured {
	text-align: center;
  p {
    min-height: 13em;
  }
	.fa {
		font-size: 80px;
	}
	[class*="fa-"] {
		-webkit-transition-duration: 1.0s;
		-moz-transition-duration: 1.0s;
		-o-transition-duration: 1.0s;
		transition-duration: 1.0s;

		-webkit-transition-property: -webkit-transform;
		-moz-transition-property: -moz-transform;
		-o-transition-property: -o-transform;
		transition-property: transform;

	}
	[class*="fa-"]:hover {
		color: #184682 !important;
		-webkit-transform:rotate(360deg);
		-moz-transform:rotate(360deg);
		-o-transform:rotate(360deg);
		transform:rotate(360deg);

	}
}

.social-media-list {
	.fa {
		font-size: 2em;
	}
}
