body {
	margin-top: 4em;
	//font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;                                            
	font-family: 'Open Sans',Arial,sans-serif;                                            
}

article.excerpt {
	h1 {
		height: 3em;
	}
}
